@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.get-started-button {
  border-radius: 12px;
  background-color: #F5B54C;
  height: max-content;
  padding: 3px 30px;
  box-shadow: 4px 4px 0px 0px rgba(245, 180, 76, 0.29);
  color: #875400;
  font-size: 24px;
}

.get-started-button:active {
  box-shadow: none;
}

.login-button {
  border-radius: 12px;
  border: 2px solid #F5B54C;
  padding: 3px 30px;
  color: #875400;
  font-size: 24px;
}

.login-button:hover {
  background-color: #F5B54C;
}

.logo-shadow {
  text-shadow: 2px 2px 0px rgba(46, 123, 21, 0.22);
}

.signupRectangle {
  width: 474px;
  height: 433px;
  border-radius: 24px;
  background-color: #EDF6F9;
  border: 1px solid black;
}

.loginRectangle {
  width: 474px;
  height: 277px;
  border-radius: 24px;
  background-color: #EDF6F9;
  border: 1px solid black;
}

.streak-number {
  font-size: 20px;
  line-height: 24px;
  color: #EE0404;
}

.gold-number {
  font-size: 20px;
  line-height: 24px;
  color: #FFBF00;
}

.lifelines-number {
  font-size: 20px;
  line-height: 24px;
  color: #EE0404;
}

.explore-button {
  border: 2px solid #EE0404;
  border-radius: 12px;
}

.leaderboard-button {
  border: 2px solid #D05F20;
  border-radius: 12px;
}

.profile-button {
  border: 2px solid #FFBF00;
  border-radius: 12px;
}

.flashcards-button {
  border: 2px solid #1234E9;
  border-radius: 12px;
}

.search-box {
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
}

.search-box::placeholder {
  font-size: large;
}

.trending-tag-button {
  border-radius: 12px;
  width: 100%;
  height: 50px;
  border: 1px solid #757171;
  font-size: 30px;
  text-align: center;
  padding: 5px 20px;
}

.trending-tag-button:hover {
  background-color: rgba(57, 203, 4, 0.11);
  padding: 0px 15px;
  border: 5px solid rgba(57, 203, 4, 0.60);
}

.quiz-card {
  user-select: none;
  border: 2px solid #717070;
  border-radius: 12px;
  cursor: pointer;
  transition: 200ms;
}

.quiz-card:hover {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.5);
  transition: 200ms;
}

.leaderboard-table {
  grid-template-columns: 1fr 3fr 4fr 4fr;
  border: 5px solid rgba(57, 203, 4, 0.6);
  border-radius: 24px;
}